DATABASE_PROVIDER=mysql
DATABASE_ENABLED=true
DATABASE_CONNECTION_URI=mysql://sail:naregua%402025@mysql:3306/evolution
AUTHENTICATION_API_KEY=troque_aqui
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379
CONFIG_SESSION_PHONE_VERSION=2.3000.1028401180
