DATABASE_PROVIDER=postgresql
DATABASE_ENABLED=true
DATABASE_CONNECTION_URI=postgresql://postgres:teste123@postgres:5432/postgres
AUTHENTICATION_API_KEY=123
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379
CONFIG_SESSION_PHONE_VERSION=2.3000.1028401180

DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=false
DATABASE_SAVE_MESSAGE_UPDATE=false
DATABASE_SAVE_DATA_CONTACTS=false
DATABASE_SAVE_DATA_CHATS=false
DATABASE_SAVE_DATA_LABELS=false
DATABASE_SAVE_DATA_HISTORIC=false
